<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration page</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
</head>
<body>
    <h1>Register</h1>
    {%  for category, msg in get_flashed_messages(with_categories=true) %}
        <p class="flash flash-{{category}}">{{msg}}</p>

        {% endfor %}
    <form method="post" action="{{url_for('register')}}">
        <label for="username">username</label>
        <input id="username" name="username" required>

        <label for="password">Password</label>
        <input id="password" name="password" required>

        <label for="email">Email address</label>
        <input id="email" name="email" required>

        <label for="role">Role</label>
        <select id="role" name="role">
            <option value="student"> Student</option>
            <option value="teacher"> Teacher</option>

        </select>
        <button type="submit">Sign Up</button>
    </form>
    
</body>
</html>